.topText{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 5px;
}

.tab-content-lm-1{
	margin-top: 20px;
}

.playlists-lm-1 {
	width: 400px;
    padding-top: 10px;
    background-color: #f8f9fa;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.row-tracks-lm-1{
	display: -ms-flexbox;
    display: flex;
    margin: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: center;
	align-items: center;
}

.row-tracks-lm-1:hover{
    border-radius: 3px;
	background-color: #36BF0015 !important;
	cursor :  pointer;
}

.div-arrow{
	display: flex; /*none makes the div bigger when hovered*/
	align-items: center;
}

.svg-arrow
{
  margin: 0 auto;
  display: block;
}

.row-tracks-lm-1:hover .div-arrow{
    display: block;
}


.div-album-img{
	width: 60%;
	height: auto;
}

.vertically-centered-text{
	display: flex;
	align-items: center; /* align vertical */
}

.playlist-img{
	max-height: 100%; 
	max-width: 100%;
}

