.container-lm-1{
	margin-bottom: 10%
}

.topText{
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
}

.nav-link-lm-1{
	padding-left: 10%;
	padding-right: 10%;
	width: 33.33333333333333333333333333%; /*don't judge me*/
	text-align: center;
}

.tab-content-lm-1{
	margin-top: 5%;
}

.tab-text-lm-1{
	text-align: center;
}

.artist-img{
	position: absolute;
	height: 100%;
	/* center the image (in case it's not a square) */
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div-artist-img{
	width: 85%;
	padding-top: 85%;
	box-sizing: border-box;
	position: relative;
}

.centered-object{
    margin-left: auto;
    margin-right: auto;
}

.artist-name{
	text-align: center;
}

.row-lm-1{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.row-lm-2{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.row-lm-3{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tab-pane-lm-1{
	padding-left: 10%;
	padding-right: 2%;
}

.div-album-img{
	width: 80%;
	height: auto;
}

.row-tracks-lm-1{
	height: 60px;
	display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1%;
}

.vertically-centered-text{
	display: flex;
	align-items: center; /* align vertical */
}

.col-1-track-index{
	-ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.33333%;
    max-width: 8.333333%;
    padding-right: 0;
    padding-left: 0;
}

.track-index{
	margin-bottom: 0;
	margin-left: 60%;
    margin-right: auto;
}