{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Last 4 weeks</a>
			<a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Last 6 months</a>
			<a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">All time</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<h1>Most played artists of the last 4 weeks</h1>
			{% for x in artists_4weeks %}
			<p>{{x}}</p>
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<h1>Most played artists of the last 6 months</h1>
			{% for x in artists_6months %}
			<p>{{x}}</p>
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
			<h1>Most played artists of all time</h1>
			{% for x in artists_alltime %}
			<p>{{x}}</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}