{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/top.css?version=1" /> 
{% endblock %}


{% block body %}
<div class="lm-1">
	<div class="container">
		
			<div>
				<h1 class="topText">Most played artists</h1>
			</div>
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-link active nav-link-lm-1" id="nav-4weeks-tab" data-toggle="tab" href="#nav-4weeks" role="tab" aria-controls="nav-4weeks" aria-selected="true">Last 4 weeks</a>
					<a class="nav-link nav-link-lm-1" id="nav-6months-tab" data-toggle="tab" href="#nav-6months" role="tab" aria-controls="nav-6months" aria-selected="false">Last 6 months</a>
					<a class="nav-link nav-link-lm-1" id="nav-alltime-tab" data-toggle="tab" href="#nav-alltime" role="tab" aria-controls="nav-alltime" aria-selected="false">All time</a>
				</div>
			</nav>
			<div class="tab-content tab-content-lm-1" id="nav-tabContent">
				
				<div class="tab-pane fade show active" id="nav-4weeks" role="tabpanel" aria-labelledby="nav-4weeks-tab">
					{% set artist_per_row = 5 %}
					{% for i in range(0, ((artists_4weeks|length)/artist_per_row)|int + 1) %}
						<div class="row-lm-1">
						{% for x in artists_4weeks[i*artist_per_row:i*artist_per_row+artist_per_row] %}
							{% if loop.index < 6 %}
							<div class="col">
							    <div class="row-lm-2">
							    	<div class="div-artist-img centered-object">
							    		<img src={{x.imageUrl}} class="artist-img" alt="Image">
							    	</div>
								</div>
							    <div class="row-lm-3">
							    	<p class="artist-name centered-object">{{loop.index+i*artist_per_row}}. {{x.name}}</p>
								</div>
							</div>	
							{% endif %}
						{% endfor %}
						</div>
					{% endfor %}
				</div>

				<div class="tab-pane fade" id="nav-6months" role="tabpanel" aria-labelledby="nav-6months-tab">
					{% set artist_per_row = 5 %}
					{% for i in range(0, ((artists_6months|length)/artist_per_row)|int + 1) %}
						<div class="row-lm-1">
						{% for x in artists_6months[i*artist_per_row:i*artist_per_row+artist_per_row] %}
							{% if loop.index < 6 %}
							<div class="col">
							    <div class="row-lm-2">
							    	<div class="div-artist-img centered-object">
							    		<img src={{x.imageUrl}} class="artist-img" alt="Image">
							    	</div>
								</div>
							    <div class="row-lm-3">
							    	<p class="artist-name centered-object">{{loop.index+i*artist_per_row}}. {{x.name}}</p>
								</div>
							</div>	
							{% endif %}
						{% endfor %}
						</div>
					{% endfor %}
				</div>

				<div class="tab-pane fade" id="nav-alltime" role="tabpanel" aria-labelledby="nav-alltime-tab">
					{% set artist_per_row = 5 %}
					{% for i in range(0, ((artists_alltime|length)/artist_per_row)|int + 1) %}
						<div class="row-lm-1">
						{% for x in artists_alltime[i*artist_per_row:i*artist_per_row+artist_per_row] %}
							{% if loop.index < 6 %}
							<div class="col">
							    <div class="row-lm-2">
							    	<div class="div-artist-img centered-object">
							    		<img src={{x.imageUrl}} class="artist-img" alt="Image">
							    	</div>
								</div>
							    <div class="row-lm-3">
							    	<p class="artist-name centered-object">{{loop.index+i*artist_per_row}}. {{x.name}}</p>
								</div>
							</div>	
							{% endif %}
						{% endfor %}
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
</div>
{% endblock %}